
body{
    height: 90vh;
    /* background-color: aquamarine; */
}
.logo{
  width: 9.4em;
  height:9.4em;
  border-radius: 50%;
}
.hovering:hover{
color: #fff;
}
.navbar-text {
  text-align: left;
  padding-right: 1em;
  letter-spacing: 0.3em;
  font-weight: bolder;
  font-size:1.5em;
  color: rgb(242, 242, 8);
  font-family: 'Freehand', cursive;
}

.navbar-toggler-icon{
  box-shadow: 1px 1px 15px 1px #000000;
}
.icons{
  width: 2em;
  height: 2em;
  margin-right: .2em;
  border-radius: 100%;
}
.icons:hover{
  box-shadow: 1px 1px 15px 1px #fff;
  transition: ease-in-out, .3s;
}

.contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  flex-wrap: wrap;
}

/* contenedor superior empuja abajo a contenedor izquierdo */
.cont-left-top{
  width: 25em;
  height: 7em;
  /* background-color: aqua; */
}
.cont-left-mid{
  width: 25em;
  height: 3.5em;
  /* background-color: aqua; */
}
/* contenedor izquierdo datos de contacto */
.contenedor-left{
  width: 25em;
  height: 65vh;
  /* background-color: red; */
  margin-left: 2em;
  margin-right: 2em;
}
h2{
  text-align: center;
  font-style: italic;
}
/* DATOS DE CONTACTO */
.email-box{
  width: 25em;
  height: 4em;
  /* background-color: yellow; */
  display: flex;
  justify-content: left;
  align-items: center;
}
.envelope{
  width: 2.5em;
  height: 2.5em;
  /* background-color: yellowgreen; */
}
.envelope:active{
  width: 2.45em;
  height: 2.45em;
  border-radius: 1em;
}
.contact-text{
  width: 25em;
  height: 2.5em;
  padding: .5em;
  /* background-color: violet; */
}
.phone{
  width: 2.5em;
  height: 2.5em;
  /* background-color: yellowgreen; */
}
.location{
  width: 2.5em;
  height: 2.5em;
  /* background-color: yellowgreen; */
}

/* contenedor superior empuja abajo a contenedor derecho */
.cont-right-top{
  width: 45em;
  height: 7em;
  /* background-color: aqua; */
}
/* CONTENEDOR FORMULARIO */
.contenedor-right{
  width: 25em;
  height: 65vh;
  background-color: #ddd;
  margin-left: 2em;
  margin-right: 2em;
}
input{
border-style: none;
margin-bottom: 1em;
border-radius: 1em;
}
input:active{
  border-style: none;
}
textarea{
  resize: none;
  border-radius: 1em;
border-style: none;
}
.small-text-bottom{
  font-size: x-small;
  text-align: center;
}
