body{
    background-image: url(/img/backgroundOne.jpg);
      height: 100vh;
  }
  .logo{
    width: 9.4em;
    height:9.4em;
    border-radius: 50%;
  }
  .hovering:hover{
  color: #fff;
  }
  .navbar-text {
    margin-right: 8em;
    letter-spacing: 0.3em;
    font-weight: bolder;
    font-size:1.5em;
    color: rgb(242, 242, 8);
    font-family: 'Freehand', cursive;
  }
  
  .navbar-toggler-icon{
    box-shadow: 1px 1px 15px 1px #000000;
  }
  .icons{
    width: 2em;
    height: 2em;
    margin-right: .2em;
    border-radius: 100%;
  }
  .icons:hover{
    box-shadow: 1px 1px 15px 1px #fff;
    transition: ease-in-out, .3s;
  }
  .card{
    margin-top: 3em;
  }
  .card-title{
    text-align: center;
  }
  .card-body{
    background:linear-gradient(130deg,rgb(255,192,203), rgb(255,182,193),rgb(255,105,180));
  }
  .card-text{
    text-align: justify;
    height: 8em;
  }
  .card-img-top{
    max-width: 118em;
    max-height: 15em;
   
  }
  .waffle{
    height: 15em;
  }
  .small-text-bottom{
    margin-top: 3em;
    font-size: x-small;
    text-align: center;
  }